Repository NNPDF/eko, pull requests merged in 2024-05, with the labels that each got.

#366 correct lm11m1 in aQg
  src/ekore/operator_matrix_elements/unpolarized/space_like/as3/aHg_param.py
  tests/ekore/operator_matrix_elements/unpolarized/space_like/test_as3.py
Labels: bug

#362 Fix large-x wiggles
  src/eko/mellin.py
  tests/eko/evolution_operator/test_init.py
Labels: bug

#368 Fix NNLO polarized
  src/ekore/anomalous_dimensions/polarized/space_like/as3.py
  src/ekore/operator_matrix_elements/polarized/space_like/as2.py
  tests/ekore/operator_matrix_elements/polarized/space_like/test_nnlo.py
Labels: bug

#373 Add ome.ps.as2 benchmark vs. Pegasus
  benchmarks/ekore/benchmark_pegasus_ad_us_as2.py
  benchmarks/ekore/benchmark_pegasus_mellin.py
  benchmarks/ekore/benchmark_pegasus_ome_ps_as2.py
Labels: benchmarks

#372 Swap KaTeX from local to global
  crates/Cargo.lock
  crates/eko/Cargo.toml
  crates/eko/src/mellin.rs
  crates/ekore/Cargo.toml
  crates/ekore/src/constants.rs
  crates/ekore/src/harmonics/cache.rs
  crates/ekore/src/harmonics/polygamma.rs
  crates/katex-header.html
  pyproject.toml.patch
  rustify.sh
  src/eko/evolution_operator/__init__.py.patch
  tests/eko/evolution_operator/test_init.py.patch
Labels: documentation, rust

#378 Add Rust unit tests to CI
  .github/workflows/unittests-rust.yml
  .github/workflows/unittests.yml
  README.md
  pyproject.toml
  pyproject.toml.patch
Labels: benchmarks, rust

#369 Rustify ekore part 2: ad.u.s.{as2,as3}
  crates/eko/src/bib.rs
  crates/eko/src/lib.rs
  crates/eko/src/mellin.rs
  crates/ekore/refs.bib
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as3.rs
  crates/ekore/src/bib.rs
  crates/ekore/src/constants.rs
  crates/ekore/src/harmonics.rs
  crates/ekore/src/harmonics/cache.rs
  crates/ekore/src/harmonics/g_functions.rs
  crates/ekore/src/harmonics/polygamma.rs
  crates/ekore/src/harmonics/w1.rs
  crates/ekore/src/harmonics/w2.rs
  crates/ekore/src/harmonics/w3.rs
  crates/ekore/src/harmonics/w4.rs
  crates/ekore/src/util.rs
  crates/make_bib.py
  flake.lock
  flake.nix
  rustify.sh
  src/eko/evolution_operator/quad_ker.py
  src/ekore/anomalous_dimensions/unpolarized/space_like/as2.py
Labels: refactor, rust
