Repository NNPDF/eko, pull requests merged in 2024-10, with the labels that each got.

#385 Rustify ome.u.s.{as1, as2}
  crates/dekoder/src/eko.rs
  crates/eko/src/lib.rs
  crates/ekore/refs.bib
  crates/ekore/src/anomalous_dimensions.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as1.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as2.rs
  crates/ekore/src/anomalous_dimensions/unpolarized/spacelike/as3.rs
  crates/ekore/src/bib.rs
  crates/ekore/src/constants.rs
  crates/ekore/src/harmonics/cache.rs
  crates/ekore/src/harmonics/g_functions.rs
  crates/ekore/src/harmonics/polygamma.rs
  crates/ekore/src/harmonics/w1.rs
  crates/ekore/src/harmonics/w2.rs
  crates/ekore/src/harmonics/w3.rs
  crates/ekore/src/lib.rs
  crates/ekore/src/operator_matrix_elements.rs
  crates/ekore/src/operator_matrix_elements/unpolarized.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike/as1.rs
  crates/ekore/src/operator_matrix_elements/unpolarized/spacelike/as2.rs
  crates/ekore/src/util.rs
  rustify.sh
  src/eko/evolution_operator/__init__.py.patch
  src/eko/evolution_operator/operator_matrix_element.py.patch
  src/eko/evolution_operator/quad_ker.py
Labels: refactor, rust

#394 Recover SV, ev method, backwards method
  .github/workflows/lha_bot_rust.yml
  src/eko/evolution_operator/__init__.py.patch
  src/eko/evolution_operator/operator_matrix_element.py.patch
  src/eko/evolution_operator/quad_ker.py
Labels: refactor, rust

#406 Rustify ad.p.s.{as1,as2}
  .github/workflows/lha_bot_rust.yml
  crates/eko/src/lib.rs
  crates/ekore/src/anomalous_dimensions.rs
  crates/ekore/src/anomalous_dimensions/polarized.rs
  crates/ekore/src/anomalous_dimensions/polarized/spacelike.rs
  crates/ekore/src/anomalous_dimensions/polarized/spacelike/as1.rs
  crates/ekore/src/anomalous_dimensions/polarized/spacelike/as2.rs
Labels: refactor, rust

#418 Add some pol tests
  crates/ekore/src/anomalous_dimensions/polarized/spacelike/as1.rs
  crates/ekore/src/anomalous_dimensions/polarized/spacelike/as2.rs
  doc/source/theory/pQCD.rst
  tests/ekore/anomalous_dimensions/polarized/space_like/test_ad_as1.py
  tests/ekore/anomalous_dimensions/polarized/space_like/test_ad_as2.py
  tests/ekore/anomalous_dimensions/polarized/space_like/test_ad_as3.py
Labels: benchmarks

#422 Change error propagation in `ekobox.apply`
  src/ekobox/apply.py
  tests/ekobox/test_apply.py
Labels: refactor, output
